section
  section
    h3 Kimim ben?
    img(
      src="img/animal-the-muppets.jpg"
      width="30%"
      style="border-radius:50%;margin:1em 0;"
    )
    h4 Doruk Kutlu
    h5 JS dev
    div(flex="main:around cross:center")
      div(flex="main:center cross:center")
        img(src="img/twitter.png" height=50)
        span @doruk
      div
        a(href="http://doruk.me") doruk.me
      div(flex="main:center cross:center")
        img(src="img/github.png" height=50 style="margin: 0 10px")
        span @d0ruk
  section
    h3 içindekiler
    hr
    ol
      li node.js inceleme
      li npm inceleme
      li http modülü
      li express
  section
      h3 gerekenler
      hr